PRIMARY_COLOR=224 44% 45%
PRIMARY_FOREGROUND_COLOR=
ACCENT_COLOR=37 72% 85%
ACCENT_FOREGROUND_COLOR=
BACKGROUND_COLOR=0 22% 90%
BACKGROUND_FOREGROUND_COLOR=
BORDER_COLOR=234 21% 34%
CARD_COLOR=
CARD_FOREGROUND_COLOR=
ERROR_COLOR=
DESTRUCTIVE_COLOR=7 80% 64%
DESTRUCTIVE_FOREGROUND_COLOR=
SUCCESS_COLOR=154 43% 51%
FOREGROUND_COLOR=
INPUT_COLOR=
MUTED_COLOR=
MUTED_FOREGROUND_COLOR=
POPOVER_COLOR=
POPOVER_FOREGROUND_COLOR=
SECONDARY_COLOR=
SECONDARY_FOREGROUND_COLOR=
RADIUS=0.5rem
RING_COLOR=
FONT_FAMILY=Manrope